<?xml version="1.0"?>
<model>
  <name>camera_support</name>
  <version>0.1.0</version>
  <author>
   <name>Angel Santamaria-Navarro</name>
   <email>angel.santamaria@upc.edu</email>
  </author>
  <sdf version="1.0">camera_support.sdf</sdf>
  <description>
    camera_support
  </description>
</model>


