<?xml version="1.0"?>

<model>
  <name>Camera-plugin</name>
  <version>1.0</version>
  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <sdf version="1.5">camera-plugin.sdf</sdf>

  <description>
    A simple camera with a box for visualization and a ROS plugin
  </description>
</model>