<?xml version="1.0"?>
<model>
  <name>camera_with_support</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Leopold Palomo-Avellaneda</name>
    <email>leopold.palomo@upc.edu</email>
  </author>
  <description>
    Composite model combining realsense_camera mounted on camera_support.
  </description>
</model>
